@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 30px;
  right: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    @extend %ubuntu-medium;
  }
  &__btn {
    padding: 6px 28px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #1c1c1c;
    }
  }
  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}

.top {
  display: flex;
  align-items: flex-end;
  background-image: url('../img/top-bg.webp');
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &__title {
    margin-bottom: 25px;
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
  }
  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }
  &__social-item {
    display: inline-block;
    margin: 0 25px;
    cursor: pointer;
    transition: .2s;
  }
  &__social-link {
    opacity: .5;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
}

@import "media";
