@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px 0;
  background-color: rgba(0,0,0,.5);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    @extend %ubuntu-medium;
  }
  &__btn {
    padding: 6px 28px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid $color-white;
    border-radius: 3px;
    background-color: transparent;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: #1c1c1c;
    }
  }
  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}

.top {
  display: flex;
  align-items: flex-end;
  background-image: url('../img/top-bg.webp');
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &__title {
    margin-bottom: 25px;
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
  }
  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }
  &__social-item {
    display: inline-block;
    margin: 0 25px;
    cursor: pointer;
    transition: .2s;
  }
  &__social-link {
    opacity: .5;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
}


// *Description
.description {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &__text {
    max-width: 440px;
    p {
      margin-bottom: 30px;
    }
  }
  &__slider-box {
    position: relative;
    margin-top: 110px;
  }
  &__slider-text {
    position: absolute;
    top: 220px;
    left: -210px;
    width: 285px;
    @extend %ubuntu-medium;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    z-index: 5;
  }
  &__slider {
    max-width: 560px;
    &::before {
      content:  "";
      position: absolute;
      top: -15px;
      right: -17px;
      width: 560px;
      height: 276px;
      border: 4px solid $color-white;
    }
  }
  &__slider-img {
    max-width: 560px;
    width: 100%;
    max-height: 300px;
  }
}

.slider-btn {
  padding: 16px 26px;
  border: none;
  background-color: $color-white;
  position: absolute;
  bottom: -47px;
  right: 0;
  cursor: pointer;
  z-index: 5;
  stroke: 0;
  outline: none;
  transition: all .2s;
  svg {
    stroke: $color-black;
  }
  &:hover {
    background-color: $color-black;
    svg {
      stroke: $color-white;
    }
  }
  &__left {
    right: 65px;
  }
} 


// *Benefits
.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
    &:nth-child(3) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 60px;
    }
  }
  &:first-child,
  &:nth-child(3) {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  &:first-child {
    &::before, {
      height: 48px;
      width: 245px;
      right: -60px;
      top: 30px;
      background-image: url('../img/line-1.svg');
    }
  }
  &:nth-child(3) {
    &::before {
      height: 62px;
      width: 465px;
      right: -50px;
      top: -40px;
      background-image: url('../img/line-2.svg');
    }
    &::after {
      height: 45px;
      width: 255px;
      top: 85px;
      right: -65px;
      background-image: url('../img/line-3.svg');
    }
  }
  &__number {
    margin-right: 10px;
    font-size: 36px;
    line-height: 41px;
    @extend %ubuntu-bold;
  }
  &__img {
    position: relative;
    margin-right: 32px;
    &::before {
      content:  "";
      position: absolute;
      top: -12px;
      right: -12px;
      width: 195px;
      height: 130px;
      border: 2px solid $color-white;
      // z-index: -1;
    }
  }
  &__info {
    width: 300px;
  }
  &__info-title {
    width: 137px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
  }
  &__info-text {
    font-size: 15px;
    line-height: 18px;
  }
}



@import "media";
